/*clearfix*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body{
	-webkit-font-smoothing: antialiased;
	background:#f3f4f5;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font:16px/24px 'RobotoRegular';

}
div {
	width : 1000;
}
strong, h1, h2, h3, h4, h5, h6{
	font-family: 'RobotoBold';
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p{
		word-wrap:break-word;
}

h1, h2, h3, h4, h5, h6 {

	line-height:100%;
	letter-spacing: -1px; 
	margin:25px 0 .5em 	!important;
}
h1, h2, h3, h4, nav a, h1 a, h2 a, h3 a, h4 a{
	color:#2d3438;
}
h1 {
	font-size:66px;
	display:block;
	-webkit-margin-before:0.67em;
	-webkit-margin-after:0.67em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;

}
h2{
	font-size:36px;
	margin-top:15px;
	-webkit-margin-before:0.83em;
	-webkit-margin-after:0.83em;
	-webkit-margin-start:0em;
	-webkit-margin-end:0em;
	vertical-align: text-top;
}
h1:after  ,h2:after ,h3:after{ /*what is "after"? */
	font-size: 56px;
	content:".";
	position:relative;
	padding-left:3px;
	color:#ffc000;
}
strong, b, .lead, .main table th, blockquote, .more, .cta a {
	color:#3c4a52;
}
html, button, input, select, textarea, a{
	color:#656a6f;
}

nav{
	display:inline-block;
}
nav ul{
	list-style:none;
	list-style-image:none;
}
nav a.active{
	background-color:#ffc000;
	color:#fff;
}
ol, ul{
	margin:0;
	padding:0;
}
img {
	vertical-align:middle;
	border:none;
}
footer{
	height: 132px;
	width: 1425px;
}
footer .wrapper{
	font-size:14px;
	color:#9fa6aa;
	border-top:1px solid #cad2d7;
	padding:50px 0 50px ;
	margin-top:20px;
}
p, pre{
	margin:1em 0;
}
a img{
	opacity:1;
}
a img:hover{
	opacity: .6;
}
.header-container header{
	padding-top:60px;
	border-bottom:1px solid #cad2d7;
	padding-bottom:45px;
}
.header-container nav{
	margin-top:10px;
	float:right; 
}
.header-container .nav li{
	float:left;
	display:inline-block;
	position:relative;
	padding:.4em .4em;
}

.main-container {
	padding:50px 0 ;
	height:300px;
}

.main-container img{
	max-width: 100%;
	width:100%;
	border:6px solid #fff; /* solid? */
	margin:1em 0;
	-webkit-box-sizing:border-box;
}
.nav a{
	font-family: 'RobotoBoldCondensed';
	font-size:20px;
	padding:0.3em 1.2em;
	border-radius:3px;
	text-decoration:none;
	white-space: nowrap;
	vertical-align: text-top;
}

.logo img{
	width:100%
}
.logo {
	display:inline-block;
	float:left;
	max-width:131px;
}
.a img{
	transition:all 250ms;
 	opacity:1;
	position:relative;
}
.wrapper{
	margin:0 auto;
	width:1140px;
	display:block;
}

.clearfix ::before, .clearfix ::after{
	content:"  ";
	display: table;

}
.clearfix{
	clear:both;
}

.three-fourths{
	width: 75%;
	margin-right:4%;
	font-size:24px;
	line-height:32px;
}

.half {
	margin-right:6%;
	width:47%;
	float:left;
}

.last {
	margin-right:0px !important;
	padding-right:0px !important; /* ? */
	border-right:none !important; /* ? */
}

.third {
	width:30%;
	margin-right:5%;
	float:left;
}

.lead , blockquote{
	font-size:24px;
	line-height:32px;
	font-family:'Aleoitalic'; 
}
.lead {
	margin-top:0px;
}
.right{
	float:right;
}
.social-link{
	width:31px;
	opacity:.4;
	display:inline-block;

}
.social-link img{
	width:100%;
}
.social-link:hover{
	opacity:1;
}
.logo-foot{
	max-width: 45px;
}
#masthead{
	margin:0px;
	padding:0px;
	height:1050px;
	display:block;
	background:#a4aeb0 !important;

}
@font-face{
	font-family: 'RobotoRegular';
	src: url('../font/roboto-regular-webfont.ttf');
}
@font-face{
	font-family:'RobotoBold';
	src: url('../font/roboto-bold-webfont.ttf');
}
@font-face{
	font-family:'Aleoitalic';
	src: url('../font/aleo-italic-webfont.ttf');
}
@font-face{
	font-family:'RobotoBoldCondensed';
	src: url('../font/roboto-boldcondensed-webfont.ttf');
}

